.btn__dashboard{
    width: 100%;
    background: none;
    border-radius: 1rem;
    padding: 1rem 1.7rem;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    margin:  0.5rem 0;
    width: 150px;
    transition:all 0.4s;
    border: 1px solid black;
    
    
}
.btn__dashboard:hover{
    color:'red';
    
}